<web-app>  
  
<servlet>  
<servlet-name>abar</servlet-name>  
<servlet-class>Second</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>abar</servlet-name>  
<url-pattern>/welcome</url-pattern>  
</servlet-mapping>  
<servlet>
<servlet-name>abarna</servlet-name>  
<servlet-class>DisplayAsXML</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>abarna</servlet-name>  
<url-pattern>/first</url-pattern>  
</servlet-mapping> 

<servlet>
<servlet-name>Loading</servlet-name>  
<servlet-class>Loading</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Loading</servlet-name>  
<url-pattern>/Loading</url-pattern>  
</servlet-mapping> 

<servlet>
<servlet-name>Loading1</servlet-name>  
<servlet-class>Display</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Loading1</servlet-name>  
<url-pattern>/Display</url-pattern>  
</servlet-mapping> 

<context-param>
<param-name>Path</param-name>
<param-value>E://sevlet.json</param-value>
</context-param>

<servlet>  
<servlet-name>s1</servlet-name>  
<servlet-class>HelloServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>s1</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  
  
<filter>  
<filter-name>f1</filter-name>  
<filter-class>MyFilter</filter-class>  
</filter>  
   
<filter-mapping>  
<filter-name>f1</filter-name>  
<servlet-name>s1</servlet-name>
</filter-mapping>  
   
  
</web-app>  